<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Departments CS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link href="static/assets/img/image.png" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="static/assets/lib/animate/animate.min.css" rel="stylesheet" />
  <link href="static/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="static/css/style.css" rel="stylesheet" />
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0 text-primary">
        <i class="fa fa-book me-3"></i>CS-learning
      </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a href="/" class="nav-item nav-link active">Home</a>
        <a href="about" class="nav-item nav-link">About</a>
        <a href="timetable" class="nav-item nav-link">Timetable</a>
        <a href="team" class="nav-item nav-link">Faculty</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">materials</a>
          <div class="dropdown-menu fade-down m-0">
            <a href="materials_MCA" class="dropdown-item">MCA</a>
            <a href="materials_CS" class="dropdown-item">CS</a>
          </div>
        </div>

        <a href="contact" class="nav-item nav-link">Contact</a>
      </div>
      <!-- <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
          >Join Now<i class="fa fa-arrow-right ms-3"></i
        ></a> -->
    </div>
  </nav>
  <!-- Navbar End -->

  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">
          MASTER OF COMPUTER APPLICATIONS
        </h6>
        <h1 class="mb-5">Study Material !</h1>
      </div>

      <!-- SYLLABUS -->
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">SYLLABUS</td>
            <td>
              <a href="static/assets/doc/MCA-Material/Syllabus/24_mca.pdf" download>Download</a>
            </td>
          </tr>
        </table>
      </div>

      <!-- “Linux -->
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mt-5">Linux and Shell Programming(23UPCSC1C01) !</h2>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">
              Chapters: 3, 11 to 14, 16 to 25
            </td>
            <td>
              <a href="static/assets/doc/MCA-Material/Linux/Richard Blum, Christine Bresnahan - Linux Command Line and Shell Scripting Bible-Wiley (2015).pdf"
                download>Download</a>
            </td>
          </tr>
          <tr></tr>
          <td colspan="3">
            Chapter: 14
          </td>
          <td>
            <a href="static/assets/doc/MCA-Material/Linux/Mastering Linux Shell Scripting.pdf" download>Download</a>
          </td>
          </tr>
        </table>
      </div>

      <!-- C++ -->
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mt-5">Python Programming(23UPCSC1C02) !</h2>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">
              Unit - I, II
            </td>
            <td>
              <a href="static/assets/doc/MCA-Material/python/Fundamentals of Python_ First Programs, 2nd Edition - PDF Room.pdf"
                download>Download</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              Unit - III
            </td>
            <td>
              <a href="static/assets/doc/MCA-Material/python/unit 3 python .pdf" download>Download</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              Unit - IV
            </td>
            <td>
              <a href="static/assets/doc/MCA-Material/python/unit 4 python .pdf" download>Download</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              Unit - V
            </td>
            <td>
              <a href="static/assets/doc/MCA-Material/python/unit 5 python .pdf" download>Download</a>
            </td>
          </tr>

        </table>
      </div>

      <!-- PYTHON -->
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mt-5">Discrete Mathematics(23UPCSC1C03) !</h2>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">Discrete Mathematics</td>
            <td>
              <a href="/materials_MCA"  onclick="alert('Not available ');">Download</a>
            </td>
          </tr>
          
        </table>
      </div>

      <!-- DEM -->
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mt-5">DEM(23UPCSC2E01) !</h2>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">
              Chapters:1-5, 7,8,12,13,14
            </td>
            <td>
              <a href="static/assets/doc/CS-Material/DEM/Principles of Data Management Facilitating Information Sharing.pdf"
                download>Download</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              Chapters: 1,2,5,8,9
            </td>
            <td>
              <a href="static/assets/doc/CS-Material/DEM/The Art of CRM.pdf" download>Download</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- Network Protocols -->
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mt-5">Network Protocols(23UPCSC2E01) !</h2>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th colspan="3">Material Title</th>
            <th>Links</th>
          </tr>
          <tr>
            <td colspan="3">
              Book
            </td>
            <td>
              <a href="static/assets/doc/CS-Material/IP/Advanced Internet Protocols, Services and Applications.pdf"
                download>Download</a>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Quick Link</h4>
          <h4 class="text-white mb-3">Quick Link</h4>
          <a class="btn btn-link" href="/about">About Us</a>
          <a class="btn btn-link" href="/contact">Contact Us</a>
          <a class="btn btn-link" href="">Privacy Policy</a>
          <a class="btn btn-link" href="">Terms & Condition</a>
          <a class="btn btn-link" href="">FAQs & Help</a>
        </div>
        <div class="col-lg-4 col-md-6">
          <h4 class="text-white mb-3">Contact</h4>
          <p class="mb-2">
            <i class="fa fa-phone-alt me-3"></i>+91 63692 55254
          </p>
          <p class="mb-2">
            <i class="fa fa-envelope me-3"></i>udhayaboopathi2003@gmail.com
          </p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href=" https://wa.me/916369255254"><i
                class="fab fa-whatsapp"></i></a>
            <a class="btn btn-outline-light btn-social"
              href="https://www.instagram.com/udhay_ub?igsh=MTJoandnbnQ5ZmdleA=="><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-social"
              href="https://www.facebook.com/Udhayaboopathi2003?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://youtube.com/@groot0820?si=h7LTOAYt6CeUxqF8"><i
                class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social"
              href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BcEPtTgc3ScSx%2BanerceU6w%3D%3D"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">CS-Learning</a>, All
            Right Reserved.Designed By
            <a class="border-bottom" href="https://github.com/Udhayaboopathi">Udhay</a><br /><br />
            Distributed By
            <a class="border-bottom" href="https://github.com/Udhayaboopathi">Udhay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/lib/wow/wow.min.js"></script>
  <script src="static/assets/lib/easing/easing.min.js"></script>
  <script src="static/assets/lib/waypoints/waypoints.min.js"></script>
  <script src="static/assets/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="static/assets/js/main.js"></script>
</body>

</html>